<h1> <%= @post.title %> </h1>

<% if current_user %>
<%= link_to "Edit Post", edit_sub_post_url(@post.sub, @post) %>
<% end %>

<ul>
  <li> <%= link_to "#{@post.title}", @post.url if @post.url %> </li>
  <li> <%= @post.content %> </li>
</ul>
