<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to Cat 99</title>
  </head>
  <body>
      <p>You have successfully signed up</p>
      <p>
      To login to the site, just follow this link: <%= @url %>.
      Have a great day!
    </p>
  </body>
</html>
